// Colors

/// Brand
$brand-primary: #1b31a8;
$brand-secondary: #079fff;

/// Blue Gray
$blue-gray-10: #f4f8fa;
$blue-gray-50: #e9eef2;
$blue-gray-400: #708797;
$blue-gray-900: #1c1e1f;

/// White
$white: #ffffff;

// Screen breakpoints
$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;

// Container width
$container-width: 1328px;
