.reachDateInput {
  position: relative;

  input {
    @include typo-headingSmall();
    color: transparent; // Input value will be custom rendered
    padding: 13px 0px 12px 0px;

    @media screen and (max-width: $tablet-portrait-upper-boundary) {
      padding: 15px 0px 15px 0px;
    }
  }
}

.chevronLeft {
  color: $blue-gray-300;
  position: absolute;
  bottom: 16px;
  left: 12px;
  cursor: pointer;
}

.chevronRight {
  color: $blue-gray-300;
  position: absolute;
  bottom: 16px;
  right: 12px;
  cursor: pointer;
}

.inputValue {
  text-align: center;
  position: absolute;
  width: calc(100% - 72px);
  height: calc(100% - 24px);
  bottom: 0;
  left: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.month {
  @include typo-paragraph();
  font-weight: 600;
  user-select: none;
}

.year {
  @include typo-paragraph();
  user-select: none;
}