.header {
  background-color: $white;
  padding: 0px 56px;
  min-height: 80px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-portrait-upper-boundary) {
    padding: 0px 16px;
    height: 56px;
  }
}

.logo {
  width: 100px;

  @media screen and (max-width: $tablet-portrait-upper-boundary) {
    height: 75px;
  }
}