.savingGoal {
  @include smallContainer();
  padding: 48px 0px;

  @media screen and (max-width: $tablet-portrait-upper-boundary) {
    width: 100%;
    max-width: 100%;
  }
}

.phrase {
  @include typo-subtitle();
  color: $brand-primary;
  text-align: center;
}

.savingCard {
  margin-top: 24px;
  margin-bottom: 48px; // Re-align card according to design

  @media screen and (max-width: $tablet-portrait-upper-boundary) {
    padding: 24px 24px 40px 24px;
    width: calc(100% - 48px);
  }
}

.buyHouse {
  width: 64px;
  margin-right: 16px;
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  @include typo-headingSmall();
}

.subtitle {
  @include typo-paragraph();
  color: $blue-gray-400;
  margin-top: 4px;
}

.confirmButton {
  margin: auto;
}

.amountInputContainer {
  width: calc(60% - 16px);
  margin-right: 16px;
  display: inline-block;

  @media screen and (max-width: $tablet-portrait-upper-boundary) {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
  }
}

.dateInputContainer {
  width: 40%;
  display: inline-block;

  @media screen and (max-width: $tablet-portrait-upper-boundary) {
    width: 100%;
  }
}