.amountInput {
  position: relative;

  input {
    @include typo-headingSmall();
    color: $blue-gray-600;
    padding: 14px 17px 14px 44px;

    @media screen and (max-width: $tablet-portrait-upper-boundary) {
      padding: 16px 17px 16px 44px;
    }
  }
}

.dollarSign {
  color: $blue-gray-100;
  position: absolute;
  bottom: 17px;
  left: 16px;
  height: 24px;
  width: 24px;
}
